<title>current state of etch</title>
<body>

<ul>
<li>c++-abi-transition running, please see
<a href="http://lists.debian.org/debian-devel-announce/2005/07/msg00001.html">http://lists.debian.org/debian-devel-announce/2005/07/msg00001.html</a> about the transition, and 
<a href="http://blabluga.hell.pl/gxx/alpha.html">http://blabluga.hell.pl/gxx/alpha.html</a> about the open issues.
Please no c++-uploads outside of the transition.

<li>libjack-transition: RC-bugs filed, please see the individual packages.

<li>[bugme: add more]
</ul>
